*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
}

.container{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
}

.slideshow{
  height: 100%;
  width: 50%;
  position: relative;
}

.slideshow-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1500ms ease-in-out;
}

.active-slide{
  opacity: 1;
}

.call-to-action{
  height: 100%;
  width: 50%;
  font-family: 'Ballet', cursive;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}